<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Taylor St Jean - Home</title>
        <meta name="description" content="Home page">
        <link rel="stylesheet" href="/static/main.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700" type="text/css">
    </head>
    <body>
        <div class="menu">
            <h1 class='title'>Taylor Noël St Jean</h1>
            <hr class="separator">
            <div class="menu-box row">
                <div class="menu-cont column left-bold">
                    <a class="menu-button-active" style="cursor:pointer">
                        <span class="menu-text active">Home</span>
                    </a>
                </div>
                <div class="menu-cont column">
                    <a class="menu-button" href="/education" style="cursor:pointer">
                        <span class="menu-text">Education</span>
                    </a>
                </div>
                <div class="menu-cont column">
                    <a class="menu-button" href="/experience" style="cursor:pointer">
                        <span class="menu-text">Experience</span>
                    </a>
                </div>
                <div class="menu-cont column right-bold">
                    <a class="menu-button" href="/contact" style="cursor:pointer">
                        <span class="menu-text">Contact Me</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="main-content">
            <div class="master-column">
                <div class="row">
                    <div class="content double-column">
                        <h2 class='title'>About Me</h2>
                        <p>My name is Taylor St Jean and I plan to major in Physics. I am finishing my Associate of Science degree in the Spring at North Seattle College and will be transferring to a four year university to continue to work towards a Master's degree in Physics.</p>
                    </div>
                    <div class="content column">
                        <img id="profile-img" src="/static/portrait.jpg" height=200 width=200>
                    </div>
                </div>
                <div class="row">
                    <div class="content column">
                        <h2 class='title'>Interests</h2>
                        <p>One of my interests is breadboarding, which is a method of prototyping circuits with individual components and jumper wires. My biggest breadboarding project was a surprisingly complex 12 digit display run from an Arduino. The display is multiplexed, meaning each digit is activated one at a time and in quick enough succession to seem as if each led is lit simultaneously.
                            <br>
                            <br>
                            <span class="center-box">
                                <img class="center-img" id="portfolio-1-img" src="/static/portfolio-1.jpg">
                            </span>
                            <br>
                            <br>
                            Another major interest of mine is coding, especially creating simulations using MatLab or Python. For examples of projects I have completed or am currently working on, please feel free to visit my 
                            <span>
                                <a href="https://github.taylorstjean.ca/">GitHub
                                </a>
                            </span> page. This website was also entirely coded from scratch and runs from a Flask backend on a Gandi Simple Hosting server (code for this website is also on GitHub).
                            <br>
                            <br>
                            One of my biggest hobbies for the better part of my life has been music production. My music has evolved over the years, however I primarily write electronic dance. To hear the music I have written, feel free to visit my page on 
                            <span>
                                <a href="https://spotify.taylorstjean.ca/">Spotify
                                </a>
                            </span>.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="content column">
                        <h2 class='title'>Aspirations</h2>
                        <p>My dream is to eventually land a career at CERN in Switzerland, working as a physicist at the Large Hadron Collider. In the mean time, I have looked into teaching Physics at a university level or a career at a space agency as possible professions.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="content column">
                        <h2 class='title'>Citizenship & Language</h2>
                        <p>I hold both a United States and Canadian passport, allowing me to work in either country. I speak English and have limited working proficiency in French.</p>
                    </div>
                    <div class="content column">
                        <h2 class='title'>Permits & Authorizations</h2>
                        <ul>
                            <li>Food Handler's Permit (WA State)</li>
                            <li>CPR/AED First Aid Training</li>
                            <li>Class 13 Alcohol Permit (WA State)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
