<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Taylor St Jean - Education</title>
        <meta name="description" content="Home page">
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700" type="text/css">
    </head>
    <div id="background">
    </div>
    <body>
        <div class="menu">
            <h1 class='title'>Taylor Noël St Jean</h1>
            <hr class="separator">
            <div class="menu-box row">
                <div class="menu-cont column left-bold">
                    <a class="menu-button" href="/home/" style="cursor:pointer">
                        <span class="menu-text">Home</span>
                    </a>
                </div>
                <div class="menu-cont column">
                    <a class="menu-button-active" style="cursor:pointer">
                        <span class="menu-text active">Education</span>
                    </a>
                </div>
                <div class="menu-cont column">
                    <a class="menu-button" href="/experience/" style="cursor:pointer">
                        <span class="menu-text">Experience</span>
                    </a>
                </div>
                <div class="menu-cont column right-bold">
                    <a class="menu-button" href="/contact/" style="cursor:pointer">
                        <span class="menu-text">Contact Me</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="main-content">
            <div class="master-column">
                <div class="content triple-row">
                    <div class="double-column">
                        <h2 class='title'>University of Washington - Seattle</h2>
                        <p><strong>From:</strong> September 2022<br><strong>To:</strong> June 2024<br><strong>Actual/Expected Graduation:</strong> June 2024<br><strong>Major/Program:</strong> Prospective Physics Major<br><strong>Program Status:</strong> In Progress</p>
                    </div>
                    <div class="column ctr">
                        <img class="ctr" src="/static/img/uw-logo.svg" height=100 width=100>
                    </div>
                </div>
                <div class="content triple-row">
                    <div class="double-column">
                        <h2 class='title'>North Seattle College</h2>
                        <p><strong>From:</strong> March 2021<br><strong>To:</strong> June 2022<br><strong>Actual/Expected Graduation:</strong> June 2022<br><strong>Major/Program:</strong> Associate of Science Track 2<br><strong>Program Status:</strong> Degree Awarded</p>
                    </div>
                    <div class="column ctr">
                        <img class="ctr" src="https://avatars.githubusercontent.com/u/59714887?s=200&v=4" height=100 width=100>
                    </div>
                </div>
                <div class="content triple-row">
                    <div class="double-column">
                        <h2 class='title'>Berklee College of Music</h2>
                        <p><strong>From:</strong> September 2020<br><strong>To:</strong> February 2021<br><strong>Actual/Expected Graduation:</strong> None<br><strong>Major/Program:</strong> Music Production and Engineering<br><strong>Program Status:</strong> Incomplete</p>
                    </div>
                    <div class="column ctr">
                        <img class="ctr" src="https://scontent-sea1-1.xx.fbcdn.net/v/t1.6435-9/35544371_10155546935856198_8345903810190770176_n.png?_nc_cat=103&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=9vlAsSeQtqMAX-sJ4Cd&_nc_ht=scontent-sea1-1.xx&oh=00_AT_q3t6ISZwrtfo1uJk2Tu1LwrN-xf5OhQCL9pIXA0nBsg&oe=62D0A397" height=100 width=100>
                    </div>
                </div>
                <div class="content triple-row">
                    <div class="double-column">
                        <h2 class='title'>Roosevelt High School</h2>
                        <p><strong>From:</strong> September 2016<br><strong>To:</strong> June 2020<br><strong>Actual/Expected Graduation:</strong> June 2020<br><strong>Major/Program:</strong> General Education<br><strong>Program Status:</strong> Diploma Awarded</p>
                    </div>
                    <div class="column ctr">
                        <img class="ctr" src="https://scontent-sea1-1.xx.fbcdn.net/v/t39.30808-6/264063584_211713061136644_9214127998098511766_n.png?_nc_cat=100&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=zfvww0cZfbAAX-4p4Qh&_nc_ht=scontent-sea1-1.xx&oh=00_AT-8aUt2ecKdVW_acOY9PJMLshDpLD4CBdbA8GPfWBCESg&oe=62B19502" height=100 width=100>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <footer>
        <div align="center">
            <p id="foot">
                2022 Taylor St Jean. Creative Commons BY-SA 4.0.
                <br>
                Last updated June 14, 2022.
                <br>
                Background image by <span><a class="attrib-link" href="https://unsplash.com/@john_artifexfilms" target="_blank">John Lee</a></span>
            </p>
        </div> 
    </footer>
</html>
