<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Taylor St Jean - Education</title>
        <meta name="description" content="Home page">
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700" type="text/css">
    </head>
    <body>
        <div class="menu">
            <h1 class='title'>Taylor Noël St Jean</h1>
            <hr class="separator">
            <div class="menu-box row">
                <div class="menu-cont column left-bold">
                    <a class="menu-button" href="/home/" style="cursor:pointer">
                        <span class="menu-text">Home</span>
                    </a>
                </div>
                <div class="menu-cont column">
                    <a class="menu-button-active" style="cursor:pointer">
                        <span class="menu-text active">Education</span>
                    </a>
                </div>
                <div class="menu-cont column">
                    <a class="menu-button" href="/experience/" style="cursor:pointer">
                        <span class="menu-text">Experience</span>
                    </a>
                </div>
                <div class="menu-cont column right-bold">
                    <a class="menu-button" href="/contact/" style="cursor:pointer">
                        <span class="menu-text">Contact Me</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="main-content">
            <div class="master-column">
                <div class="row">
                    <div class="content column">
                        <h2 class='title'>North Seattle College</h2>
                        <p><strong>From:</strong> March 2021<br><strong>To:</strong> Present<br><strong>Actual/Expected Graduation:</strong> June 2022<br><strong>Major/Program:</strong> Associate of Science Track 2<br><strong>Program Status:</strong> In Progress</p>
                    </div>
                </div>
                <div class="row">
                    <div class="content column">
                        <h2 class='title'>Berklee College of Music</h2>
                            <p><strong>From:</strong> September 2020<br><strong>To:</strong> February 2021<br><strong>Actual/Expected Graduation:</strong> None<br><strong>Major/Program:</strong> Music Production and Engineering<br><strong>Program Status:</strong> Incomplete</p>
                    </div>
                </div>
                <div class="row">
                    <div class="content column">
                        <h2 class='title'>Roosevelt High School</h2>
                        <p><strong>From:</strong> September 2016<br><strong>To:</strong> June 2020<br><strong>Actual/Expected Graduation:</strong> June 2020<br><strong>Major/Program:</strong> General Education<br><strong>Program Status:</strong> Complete (Diploma)</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
