<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Taylor St Jean - Experience</title>
        <meta name="description" content="Home page">
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700" type="text/css">
    </head>
    <body>
        <div class="menu">
            <h1 class='title'>Taylor Noël St Jean</h1>
            <hr class="separator">
            <div class="menu-box row">
                <div class="menu-cont column left-bold">
                    <a class="menu-button" href="/home/" style="cursor:pointer">
                        <span class="menu-text">Home</span>
                    </a>
                </div>
                <div class="menu-cont column">
                    <a class="menu-button" href="/education/" style="cursor:pointer">
                        <span class="menu-text">Education</span>
                    </a>
                </div>
                <div class="menu-cont column">
                    <a class="menu-button-active" style="cursor:pointer">
                        <span class="menu-text active">Experience</span>
                    </a>
                </div>
                <div class="menu-cont column right-bold">
                    <a class="menu-button" href="/contact/" style="cursor:pointer">
                        <span class="menu-text">Contact Me</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="main-content">
            <div class="master-column">
                <div class="row">
                    <div class="content column">
                        <div class="row">
                            <p class='title column'>Download a copy of my resume here:</p>
                            <a class='column'>
                                <a class="download-button" href="/static/files/taylorstjean_resume.pdf" download="taylorstjean_resume.pdf" target="_blank"><img src="/static/img/download.png" width=20 height=20></a>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="content column">
                        <h2 class='title'>BrN Engineering - Electrical Drafter</h2>
                        <p>From April 2022 to Present<br><br>After six months of working as an intern at the firm, I was offered a full position as an electrical drafter. As a drafter I am primarily tasked with generating drawings in AutoCAD, however a portion of the position is spent working directly with the engineer who teaches me how to create my own solutions and become a designer. In addition, I have been taught many professional skills, including client interaction and the inner workings of running a business.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="content column">
                        <h2 class='title'>North Seattle College - Lab Assistant</h2>
                        <p>From March 2022 to Present<br><br>This is a State Work Study position I obtained at North Seattle College. At this job, I am tasked with general housekeeping work at the lab, such as cleaning used equipment and glassware, taking chemical inventory and preparing demonstrations for science classes. Additionally, I am given the opportunity to work with the professors and learn more about chemistry through various experiments.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="content column">
                        <h2 class='title'>ERA Living - Food Server/Host</h2>
                        <p>From December 2018 to Present<br><br>Duties include serving in the dining room during service, taking and filling orders and managing my time effectively to reduce wait times for the resident. As a host, I act as lead, assigning duties to all others working that night. Valuable skills I have learned on the job include communication with the blind and hard of hearing, the formation of interpersonal relationships, and effective communication with peers.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="content column">
                        <h2 class='title'>BrN Engineering - Intern</h2>
                        <p>From May 2021 to November 2021<br><br>The purpose of this position is to foster my talent in the field to better prepare me for similar jobs in the future. Topics covered include the pure engineering aspect of the job – operation of AutoCAD, production of building plans, the applications of various types of electrical equipment, etc. – as well as the code and business that accompanies it.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="content column">
                        <h2 class='title'>Seattle Fire Department - Fire Cadet</h2>
                        <p>From July 2018 to August 2018<br><br>This position was a six-week internship over the summer that covered firefighting and medical triage. I was trained in advanced CPR and first aid, wound treatment using various bandages, and how to respond in the event of a seizure or stroke. In addition, I was taught proper use of an extinguisher, basic fire science (flashpoint, fire type, etc.), and general fire prevention tactics.</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
