<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Taylor St Jean - Contact</title>
        <meta name="description" content="Home page">
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="menu">
            <h1 class='title'>Taylor Noël St Jean</h1>
            <hr class="separator">
            <div class="menu-box row">
                <div class="menu-cont column left-bold">
                    <a class="menu-button" href="/home/" style="cursor:pointer">
                        <span class="menu-text">Home</span>
                    </a>
                </div>
                <div class="menu-cont column">
                    <a class="menu-button" href="/education/" style="cursor:pointer">
                        <span class="menu-text">Education</span>
                    </a>
                </div>
                <div class="menu-cont column">
                    <a class="menu-button" href="/experience/" style="cursor:pointer">
                        <span class="menu-text">Experience</span>
                    </a>
                </div>
                <div class="menu-cont column right-bold">
                    <a class="menu-button-active" style="cursor:pointer">
                        <span class="menu-text active">Contact Me</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="main-content">
            <div class="master-column">
                <div class="row">
                    <div method="POST" class="content column">
                        <h2>
                            Thank you!
                        </h2>
                        <p>
                            Thank you for the message, I will respond as soon as I can.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="content column">
                        <h2 class='title'>Email</h2>
                        <p>I do not have a public phone number, however please feel free to send me an email at <span><a href="mailto: contact@taylorstjean.ca">contact@taylorstjean.ca</a></span>.<br><br>I usually respond within 24 hours.</p>
                    </div>
                    <div class="content column">
                        <h2 class='title'>Social Media</h2>
                        <p>The following are links to my social media sites.<br></p>
                        <hr class="invis-separator">
                        <table class="social-content">
                            <td>
                                <a class="fa fa-instagram" href="https://www.instagram.com/taylor_stjean/" style="cursor:pointer" target="_blank">
                                </a>
                            </td>
                            <td>
                                <a class="fa fa-linkedin" href="https://www.linkedin.com/in/taylor-st-jean" style="cursor:pointer" target="_blank">
                                </a>
                            </td>
                            <td>
                                <a class="fa fa-spotify" href="https://open.spotify.com/artist/1ddyJtxdSK3AbMDef3eKjK" style="cursor:pointer" target="_blank">
                                </a>
                            </td>
                            <td>
                                <a class="fa fa-github" href="https://github.com/taylorstjean" style="cursor:pointer" target="_blank">
                                </a>
                            </td>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <footer>
        <div align="center">
            <p id="foot">
                2022 Taylor St Jean. Creative Commons BY-SA 4.0.
                <br>
                Last updated May 28, 2022.
                <br>
                Background image by <span><a class="attrib-link" href="https://unsplash.com/@john_artifexfilms" target="_blank">John Lee</a></span>
            </p>
        </div> 
    </footer>
</html>
